<!doctype html>

<html>
	<head>
		<title>DiversiFriends</title>

			<div id="titlebar">
			<p>DiversiFriends</p>
			</div>

			<!--Below is import for css stylesheet-->
			<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
<body>

<div id="navbar">

		<div id="buttons"><a href="index" >Home</a> </div> <br><br>
		<div id="buttons"><a href="/requests" >Requests</a> </div><br><br>
		<div id="buttons"><a href="friends" >Friends</a> </div><br><br>
		<div id="buttons"><a href="profile" >Profile</a> </div><br><br>
		<div id="logout"> <a href="login" >Log Out</a></div>
	</div>

</div>

<div id="headings">

	<h1>Your Friends!</h1>
	<p>These are the people you've connected with!</p>

</div>

	<div id="contentBox">
	<div>

{{#each friends}}
      <div id="userPreview" id="{{id}}">
          <img src="{{imageURL}}" width="15%" ... />
          <a href="diversi-friends/{{name}}" ... />
          <p>{{name}}</p>
          <p>{{personalStatement}}</p>
          <p>{{description}}</p>
        </a>
      </div>
    {{/each}}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/hci-friends.js"></script>

	</div>



		


	
</div>

</body>
</html>